<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lista.css') }}">
    <title>Produtos cadastrados</title>
</head>

<body>
    <!-- Fundo animado estilo glass -->
    <div class="background-container">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-4"></div>
        <div class="shape shape-5"></div>
        <div class="shape shape-6"></div>
    </div>
    <div class="navbar">
        <a href="/" class="back-btn">Voltar</a>
       
        <h1>Produtos Cadastrados</h1>
    </div>

    <!-- Mensagens Flask -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="{{ category }}">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Tabela -->
    <div class="table-card">
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>  
                    <th>Quantidade</th> 
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>R$ {{ "%.2f"|format(produto.preco) }}</td>
                    <td>{{ produto.verificar_estoque() }}</td>
                    <td class="table-actions"> 
                      <a class="btnedit" onclick="window.location.href='/editar/{{produto.codigo}}'">Editar</a>
                        <button class="btn-delete" onclick="if(confirm('Tem certeza que deseja remover este produto?')){window.location.href='/remover/{{ produto.codigo }}'}">
                          Remover
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</body>
</html>
